.bookstore-header {
  background: white;
  border-bottom: 1px solid #ccc;
}

.bookstore-nav {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: none;
  background: none;
  line-height: 62px !important;
}

.bookstore-col-wrapper {
  display: flex;
  align-items: center;
}

.bookstore-logo-lg {
  margin: 0px 38px 2px 0px !important;
  font-weight: 900 !important;
}

.bookstore-search-dropdown {
  width: 500px;
  display: block;
  margin-right: 32px;
}

.bookstore-search-dropdown .ant-input-search-icon {
  padding: 0px 16px 0px 0px;
}

.bookstore-search-dropdown .ant-input-search-icon::before {
  transform: translateX(-16px);
}
