.bookstore-search-dropdown {
  width: 500px;
  display: block;
  margin-right: 32px;
}

.bookstore-search-dropdown .ant-input-search-icon {
  padding: 0px 16px 0px 0px;
}

.bookstore-search-dropdown .ant-input-search-icon::before {
  transform: translateX(-16px);
}
