.bookstore-notification-cart {
  display: flex;
  align-items: flex-start;
}

.bookstore-notification-cart-title {
  font-weight: 900 !important;
  margin-right: 32px;
}

.bookstore-notification-cart-image {
  width: 100px;
  margin-right: 16px;
  border-radius: 8px;
}

.bookstore-notification-cart-description > h5 {
  margin-bottom: 0px;
}
