.forgot-password {
  max-width: 500px;
  margin: auto;
}

.forgot-password-button {
  width: 50%;
  margin: 0;
  float: right;
}

.forgot-password-container {
  margin: auto;
  width: 600px;
}

.forgot-password-title {
  font-weight: 85;
}
