.login-form {
  min-width: 600px;
  margin: auto;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-container {
  min-width: 600px;
  margin: auto;
}

.bookstore-login-title {
  font-weight: 900 !important;
}
