.login-form {
  max-width: 500px;
  margin: auto;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 50%;
}

.login-container {
  max-width: 600px;
  margin: auto;
}
