.reset-password {
  max-width: 500px;
  margin: auto;
}

.reset-password-button {
  width: 50%;
  margin: 0;
  float: right;
}

.reset-password-container {
  margin: auto;
  width: 600px;
}

.reset-password-title {
  font-weight: 900 !important;
}
